<div class="container">
    <h1 *ngIf="client.id == null">Crear cliente</h1>
    <h1 *ngIf="client.id != null">Modificar cliente</h1>

    <form #miFormulario="ngForm">
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="client.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre de categoría" [(ngModel)]="client.name" name="name" required #name="ngModel">
            <mat-error *ngIf="name.errors?.['required']">El nombre no puede estar vacío</mat-error>
            <mat-error *ngIf="name.errors?.['incorrect']">{{msgError}}</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>